@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body::-webkit-scrollbar {
    display: none;
}

p:hover{
    cursor: pointer;
}

header{
    height: 12vh;
    width: 100%;
    background: #003f7d;
    color: white;
    font-family:  "Nunito", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    /* position: fixed; */
}

#logo:hover{
    cursor: pointer;
    scale: 1.02;
}

#logo span, #form-logo span, #logobox span{
    color: #23bdff;
}

#nav{
    height: 80%;
    width:50%;
}

#signup-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid white; */
}

 #signup-btn button{ 
    height: 6vh;
    width: 7vw;
    margin: 0 0.5vw;
    border: 2px solid white;
    border-radius: 50px;
    background-color: #003f7d;
    color: white;
    font-family:  "Nunito", sans-serif;
    font-size: 1.3vw;
    font-weight: 700;
    transition: .4s;
}

#signup-btn button:hover{
    background-color: white;
    color: #003f7d;
}

/* ----- main-page styling----- */

#mainpage{
    height: 88vh;  
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #002c58;
}

#left-container{
    height: 80%;
    width: 65%;
    font-family: "Kanit", sans-serif;
    display: flex;
    flex-direction: column;
}

#right-container{
    height: 80%;
    width: 25%;
    background: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow:-1px 1px 20px 1px;
}
/* ----------------------------------------------------- */

/* #welcome animation styling */
.ml11 {
    height: 20%;
    font-weight: 700;
    font-size: 2vw;
    color: white;
    /* color: #cfa7ff; */
    padding: 2vw 0;
    text-align: center;}
  
.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}
  
.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0%;
    height: 100%;
    width: 3px;
    background-color:white;
    transform-origin: 0 50%;
}
  
.ml11 .line1 { 
    top: 0; 
    left: 0%;
}
  
.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}

/* ----------------------------------------------------- */

#left-container  #content-div {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* margin-left: 3vw; */
    line-height: 1.1;
}

#left-container  #content-div h1{
    font-size: 6vw;
    font-weight: 700;
    color: #EDF0DA;
}

#left-container  #content-div p{
    font-size: 1.5vw;
    color: #EDF0DA;
}

#left-container h3{
    margin: 50px 0;
    font-family:  "Nunito", sans-serif;
    color: white; 
}

#left-container h3 a{
    color: #23bdff;  
}

#left-container #btn-div{
    height: 20%;
    display: flex;
    align-items: center;
}

#left-container #btn-div #learn-more-btn{
    height: 3vw;
    width: 6vw;
    margin-right: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    font-family:  "Nunito", sans-serif;
    /* transition: 3s; */
}

#left-container #btn-div #signbtn{
    height: 3vw;
    width: 6vw;
    background-color: #002c58;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    font-weight: 800;
    font-family:  "Nunito", sans-serif;
    transition: 0.6s;
}

#left-container #btn-div #signbtn:hover{
    background-color: white;
    color: #003f7d;
}


/* ----------------------------------------------------- */

#login-page {
    height: 100%;
    width: 100%;    
    padding: 1rem 0rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    /* display: none; */
}

#login-page h2{
    margin-top: 0.5em;
}

#form-logo{
    color: #002c58;
    font-size: 2rem;
    cursor: pointer;
    
}

.login-form{
    width: 90%;
    margin: 1em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.login-form input{
    margin-top: 15px;
    padding-left: 5px;
    width: 95%;
    height: 3em;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid black;
    outline: none;
}

.login-form input:focus{
    border: 2px solid #003f7d;
}

.forget-password-link{
    margin-top: 15px;
    position: relative;
    left: -25%;
}
#submit-btn{
    margin: 15px 0px;
    height: 3em;
    width: 95%;
    border: none;
    border-radius:50px;
    color: white;
    background-color: #003f7d;
    transition: 0.4s;
}

#submit-btn:hover{
    background-color: #195ca0;
}

#signuplink{
    margin-bottom: 15px;
}

#login-through-gmail{
    margin: 5px 0px;
    height: 3em;
    width: 95%;
    background-color: white;
    border-radius: 5px ;
    border: 2px solid rgb(90, 88, 88);
}

#login-through-gmail:hover{
    background-color: rgb(207, 203, 203);
}

#mainpage2 {
    height: 110vh;
    width: 100%;
    background-color: #002c58;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Kanit", sans-serif;
    /* border: 2px solid red; */
}

#mainpage2 #section1{
    height: 40%;
    width: 100%;
    margin: 5rem;
    /* margin-bottom: 2vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

#heading{
    font-size: 4.5rem;
}

#subtext p{
    font-size: 1.4rem;
    margin:0em 9em;  
}

#mainpage2 #section2{
    height: 70%;
    width: 100%;
    /* background-color: rgb(205, 205, 205); */
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid black; */
}

#mainpage2 #section2 .boxes{
    height: 90%;
    width: 30vw;
    text-align: center;
    border: 2px solid black;
}

#img{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

#Box1 #img img{
   width: 60%;
}

#box2 #img img{
    width: 60%;
}

#box3 #img img{
    width: 70%;
}


#mainpage3,#mainpage4{
    height: 90vh;
    width: 100%;
    background-color: #092e4d;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "Kanit", sans-serif;
}

#mainpage3 #content1{
    height: 50%;
    width: 32%;
    /* background-color: rgb(140, 143, 206); */
    /* background-color: white; */
    border: 2px solid rgb(205, 205, 205);
}

#mainpage3 #content1 img{
    height: 100%;
}

#mainpage3 #content2{
    height: 50%;
    width: 58%;
    border:2px solid rgb(205, 205, 205);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainpage3 #content2 h1{
    margin: 11px;
    font-size:3.4rem ;
    color: whitesmoke;
}

#mainpage3 #content2 p{
    padding: 5px;
    font-size:1.3rem ;
    color: rgb(159, 159, 242);
}

#mainpage3 #content2 h4{
    margin: 11px;
    color: rgb(136, 134, 134);
    font-size:1.5rem ;
}

#mainpage4{
    height: 80vh;
    justify-content: space-around;
}

#mainpage4 #column1,#column2{
    height: 80%;
}

#mainpage4 #column1{
    width: 65%;
    padding-left: 15px;
}

#mainpage4 #column1 h1{
    /* color: rgb(205, 205, 205); */
    color: #EDF0DA;
    font-size: 4rem;
    text-align: start;
}

#mainpage4 #column1 p{
    color: rgb(205, 205, 205);
    color: #EDF0DA;
    font-size: 1.5rem;
    text-align: start;
}

#mainpage4 #column2{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainpage4 #column2 #img img{
    height: 150%;
}


/* ----- Ovelay Sheet Styling ----- */

.OverlaySheet{
    height: 100vh;
    width: 100%;
    /* background-color: rgba(28, 28, 28, 0.5); */
    background-color: rgba(26, 23, 23, 0.801);
    position:fixed;
    top: 0%;
    z-index: -1;
    opacity: 0;
    transition: 0.1s ease-in-out;
}

.showoverlay{
    z-index: 1;
    opacity: 1;
}

.signup-page{
    height: 80vh;
    width: 70vw;
    background:rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 20px;
    font-family: "Kanit", sans-serif;
    position: fixed;
    top: 10%;
    left:15%;
    z-index: 3;
    transition: 0.5s ease-in-out;
    display: none;   
}

.showsignup-page{
    display: block;
}

#fbox{
    height: 15%;
    font-family:  "Nunito", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    color: #002c58;
    /* border: 2px solid black; */
}

#fbox #logobox{
    width: 95%;
    text-align: center;
    cursor: pointer;
    /* border: 2px solid black; */
}

#fbox #cross{
    color: black;
    width: 5%;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    /* border: 2px solid black; */
}

#fbox #cross i:hover{
    color: red;
}

#sbox{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: end;
    /* border: 2px solid black; */
}

#tbox{
    height: 70%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#tbox .tbx{
    height: 90%;
    width: 40%;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#tbox .tbx:hover{
    scale: 1.02;
    /* box-shadow: 0 2px 4px black; */
    border: 1px solid black;
}

#tbox .tbx img{
    height: 90%;
}

/* ----- ----- Homeapage Styling ----- ----- */

#profileDropdown{
    height: 8vh;
    width: 8vw;   
}

#profile{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #003f7d;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    outline: none;
    font-size: 0.8em;
    cursor: pointer;
}

#profile-btn{
    font-weight: 600;   
}

#profile:hover{
    background-color: #002c58;
}

.dropdown{
    height: 26vh;
    width: 12vw;
    padding: 8px;
    /* background-color: #003f7d; */
    background-color: white;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 8px;
    box-shadow: 1px 1px 5px 1px rgb(139, 139, 139);
    position: relative;
    top: 10%;
    left: -25%;
    z-index: 1;
    transition: all ease 0.65s;
    transform: translateY(-50%);
    display: none;
}

.dropdownShow{
    display: flex;
    transform: translateY(0);
    transition:1s ease-in-out;
}

.dropdown ul li a{
    color: #003f7d;
    text-decoration: none;
    font-size: 0.8em;
}

.dropdown ul li:hover {
    background-color: rgb(228, 223, 223);
}
.dropdown ul  #logoutbtn:hover {
    color:rgb(199, 0, 0);
}

ul hr{
    margin: 2px 0px;
}
.dropdown ul li {
    height: 35px;
    padding: 2px 8px;
    list-style: none;
    border-radius:5px;
}

/* ----- home (page) styling ----- */

#main-container{
    height: 88vh;
    width: 100%;
    padding: 15px;
    background-color: #002c58;
    color: rgb(228, 220, 220);
    font-family:  "Nunito", sans-serif;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-around;
    align-items:center;
    position: relative;
}

/* ------ file uploader styling ------ */

#file-uploader{
    height: 90%;
    width: 30%;
    background: lavender;
    border-radius: 15px ;
    box-shadow: rgba(0, 0, 0) 0px 5px 15px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}

#file-uploader h1{
    color: ;
}

#upload-file{
    height: 70%;
    width: 95%;
    border: 2px dashed #002c58;
    border-radius:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drag-and-drop-area{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#drag-and-drop-area #icon{
    font-size: 8vw;
    color: #002c58;
}

#drag-and-drop-area h2{
    color: #002c58;
}

#add-button{
    height: 15%;
    width: 95%;
    /* margin-top: 1vh; */
    background:#002c58;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#add-button button{
    height: 50%;
    width: 25%;
    outline: none;
    background-color: green;
    color: lavender;
    border: 2px solid green;
    border-radius: 5px;
    font-size: 1.2vw;
    font-weight:700 ;
    cursor: pointer;
}

#add-button button i{
    font-size:
}

#add-button button:hover{
    scale: 1.02;
    background-color: rgb(9, 173, 9);
    border: 2px solid rgb(9, 173, 9);
}

#side-box{
    height: 80%;
    width: 55%;
    /* background: lavender; */
}


/*  -----------   switch button  ------------- */

#send-receive-switch{
    height: 9%;
    width: 22vw;
    background-color: lavender;
    border: 2px solid #222;
    border-radius: 30px;
    box-shadow: 1px 1px 5px  #000;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    position: fixed;
    display: flex;
    z-index: 2;
    top:85%;
    left: 76%;
}

.switch-btns{
    height: 100%;
    width: 50%;
    border: 0;
    outline: none;
    position: relative;
    background-color:transparent;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    font-family: "Kanit", sans-serif;
}

#switch{
    height: 100%;
    width: 50%;
    left: 0%;
    top:0%;
    position: absolute;
    background-color: #266eb6;
    border-radius: 50px;
    transition: 0.5s;
    
}

/*  -----------   Footer Styling ------------- */

footer{
    height: 40vh;
    width: 100%;
    background: #001b35;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* -----          loader page          ------  */

#loader{
    height: 100%;
    width: 100%;
    background-color: #051424;
    position: fixed;
    z-index: 100;
    top: 0;
    transition: all linear 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 6vw;
    font-family:  "Nunito", sans-serif;
    color: white;
    opacity: 0;
    animation: loading 2s linear ;
    animation-delay: 1s;
}

@keyframes loading {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}